html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*全域選擇器*/
*, 
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* index的CSS */
.main{
    width: 100%;
    max-width: 900px;
    /* border:1px solid rgb(119, 100, 73); */
    margin: 0 auto;
    
} 
.main>header{
    text-align: center; /*行內元素置中*/
    padding-top: 40px;
    padding-bottom: 40px;
}

.main>header>img.logo{
    width: 200px;
    /* display: block;圖片是行內元素
    margin: 0 auto;   針對塊級元素的置中*/
}
/* img.logo{
    width: 100px;
} */

.main>nav{
    border-top: 1px solid #999209;
    border-bottom: 1px solid #999209;
    margin-bottom: 40px;
}
.main>nav>ul{
    display: flex;
}
.main>nav>ul>li{
    /* display: inline-block;
    margin-right: -4px;
    width: 32%; */
    flex: 1;

    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.main>nav>ul>li>.nav_item{
    color: black;
    text-decoration: none;
    display: block;
    position: relative;
}
.main>nav>ul>li>.nav_item:hover{ /*滑鼠經過 盤旋的效果*/
    background-color: #dcdddd;
}
.main>nav>ul>li>.nav_item>.products{
    display: none;
}
.main>nav>ul>li>.nav_item:hover .products{
    display: block;
    position: absolute;
    width: 100%;
}
.main>nav>ul>li>.nav_item>.products a{
    background-color: #999209;
    color: white;
    text-decoration: none;
    line-height: 20px;
    font-size: 16px;
    display: block;  /*切換成滿版超連結*/
    padding: 10px 20px;
    text-align: left;
}
.main>nav>ul>li>.nav_item>.products a:hover{
    background-color: black;
}

.main>nav>ul>li .text_en{
    color: #999209;
}
.main>.content{
    margin-bottom: 20px;
}
.main>.content img{
    width: 100%;
    display: block;
}

footer{
    background-color: #999209;
    height: 100px;
    padding: 20px;
}
/* flex footer寫法1 */
footer>.main{
    display: flex;
    font-weight: bold;
}
footer>.main>ul{
    display: flex;
    gap: 10px;   
}
footer>.main>ul>li>a{
    color: white;
    text-decoration: none;
}
footer>.main>ul>li>a:hover{
    text-decoration: underline;
}
footer>.main .certify{
    margin-left: auto;
    color: white;
}

/* shop.html的CSS: flex寫法 */
.shop_p{
    letter-spacing: 2px;
}
.shop_content{
    margin-bottom: 20px;
}

.shop_content>.item{
    display: flex;
    border: 1px solid #999209;
    border-bottom: none;
    padding: 10px;
    gap: 10px;
}
.shop_content>.item:last-child{
    border-bottom: 1px solid #999209;
}
.shop_content>.item>.item_left{
    width: 20%;
}
.shop_content>.item>.item_left img{
    width: 100%;
}
.shop_content>.item>.item_mid{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.item_mid h2{
    font-size: 24px;
    font-weight:bold;
    margin-bottom: auto; /*flex寫法*/
}
.item_mid p{
    color: #999209 ;
    font-weight: bold;
    /* margin-top:auto; flex寫法二選一*/
}
.shop_content>.item>.item_right{
    width: 40%;
}
.shop_content>.item>.item_right>.item_title,.products_content .item_title{
    font-weight: bold;
    border-bottom: 1px solid #999209;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.shop_content>.item>.item_right>.item_set{
    display: flex;
    margin-bottom: 10px;
}
.item_set>.item_set_left{
    margin-right: auto;
}
.item_set .item_set_left_price{
    color: #999209 ;
    margin-bottom: 5px;
    font-size: 20px;
}
.buy_btn{
    text-decoration: none;
    background-color: #999209;
    color: white;
    padding: 6px 8px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
/* About.html */
.about_content{
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}
.about_content>.about_left{
    width: 70%;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about_content>.about_left>img{
    width: 50%;
}
.about_content>.about_left a{
    text-decoration: none;
    color: #999209;
}
.about_content>.about_left a:hover{
    text-decoration: underline;
}
.about_content>.about_fb{
    width: 30%;
}
/* 商品頁 producst.html CSS */
.products_content{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}
.products_content>.left{
    width: 60%;
    margin-right: 20px;
}
.products_content>.left .img_show{
    background-color: #999209;
    width: 520px;
    height: 380px;
    /* background-size:100% 100%; */
    margin-bottom: 12px;
}
.products_content>.left .img_list>div {
    background-color: #999209;
    width: 80px;
    height: 60px;
    margin-right: 4px;
    display: inline-block;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    cursor: pointer;
}
.products_content>.left .img_list .active{
    outline: 4px solid #999209;
}
.products_content>.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.products_content .item_title{
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}

/* RWD手機版設定 */
@media(max-width:992px){
    .shop_content>.item{
        flex-direction: column;
    } 
    .shop_content>.item>.item_left,
    .shop_content>.item>.item_mid,
    .shop_content>.item>.item_right{
    width: 100%;
    }  
    footer>.main{
        flex-direction: column;
    }
    footer>.main>ul{
        margin: auto;
    }
    footer>.main .certify{
        margin: auto;
        margin-top: 20px;
    }
}