html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*全域選擇器*/
*, 
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* index的CSS */
.main{
    width: 100%;
    max-width: 900px;
    /* border:1px solid rgb(119, 100, 73); */
    margin: 0 auto;
    
} 
.main>header{
    text-align: center; /*行內元素置中*/
    padding-top: 40px;
    padding-bottom: 40px;
}

.main>header>img.logo{
    width: 200px;
    /* display: block;圖片是行內元素
    margin: 0 auto;   針對塊級元素的置中*/
}
/* img.logo{
    width: 100px;
} */

.main>nav{
    border-top: 1px solid #999209;
    border-bottom: 1px solid #999209;
    margin-bottom: 40px;
}
.main>nav>ul>li{
    display: inline-block;
    margin-right: -4px;
    width: 32%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.main>nav>ul>li>a{
    color: black;
    text-decoration: none;
    display: block;
}
.main>nav>ul>li>a:hover{ /*滑鼠經過 盤旋的效果*/
    background-color: #dcdddd;
}

.main>nav>ul>li .text_en{
    color: #999209;
}

.main>.content img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.footer{
    background-color: #999209;
    height: 80px;
    padding: 20px;
}
.footer>a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
.footer>a:hover{
    text-decoration: underline;
}
.footer> .certify{
    display: inline;
    float: right;
    color: white;
}

/* shop.html的CSS */
.item{
    border: 1px solid #999209;
    padding: 10px;
}
.shop_content>.item>.item_left{
    display: inline-block;
    width: 20%;
    
}
.shop_content>.item>.item_left img{
    width: 100%;
}
.shop_content>.item>.item_mid{
    display: inline-block;
    width: 40%;
    margin-right: -4px;
    vertical-align: top;
}
.shop_content>.item>.item_right{
    display: inline-block;
    width: 40%;
    margin-right: -4px;
    vertical-align: top;
}
.shop_content>.item>.item_right .item_set1_left{
    display: inline-block;
    width: 48%;
}
.item_set1_left_price {
    color: #999209 ;
}
.shop_content>.item>.item_right .item_set1_right{
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
.shop_content>.item>.item_right .item_set2_left{
    display: inline-block;
    width: 48%;
}
.item_set2_left_price {
    color: #999209 ;
}
.shop_content>.item>.item_right .item_set2_right{
    display: inline-block;
    width: 48%;
    vertical-align: top;
}