html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*全域選擇器*/
*, 
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* index的CSS */
.main{
    width: 100%;
    max-width: 900px;
    /* border:1px solid rgb(119, 100, 73); */
    margin: 0 auto;
    
} 
.main>header{
    text-align: center; /*行內元素置中*/
    padding-top: 40px;
    padding-bottom: 40px;
}

.main>header>img.logo{
    width: 200px;
    /* display: block;圖片是行內元素
    margin: 0 auto;   針對塊級元素的置中*/
}
/* img.logo{
    width: 100px;
} */

.main>nav{
    border-top: 1px solid #999209;
    border-bottom: 1px solid #999209;
    margin-bottom: 40px;
}
.main>nav>ul{
    display: flex;
}
.main>nav>ul>li{
    /* display: inline-block;
    margin-right: -4px;
    width: 32%; */
    flex: 1;

    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.main>nav>ul>li>a{
    color: black;
    text-decoration: none;
    display: block;
}
.main>nav>ul>li>a:hover{ /*滑鼠經過 盤旋的效果*/
    background-color: #dcdddd;
}

.main>nav>ul>li .text_en{
    color: #999209;
}

.main>.content img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.footer{
    background-color: #999209;
    height: 100px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
}
.footer>nav>ul{
    display: flex;
}
.footer>nav a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
.footer>nav a:hover{
    text-decoration: underline;
}
.footer> .certify{
    margin-left: auto;
    color: white;
}

/* shop.html的CSS: flex寫法 */
.shop_content>p{
    letter-spacing: 2px;
}
.shop_content>.item{
    display: flex;
    border: 1px solid #999209;
    padding: 10px;
    gap: 10px;
}
.shop_content>.item>.item_left{
    width: 20%;
}
.shop_content>.item>.item_left img{
    width: 100%;
}
.shop_content>.item>.item_mid{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.item_mid h2{
    font-size: 24px;
    font-weight:bold;
    margin-bottom: auto; /*flex寫法*/
}
.item_mid p{
    color: #999209 ;
    font-weight: bold;
    /* margin-top:auto; flex寫法二選一*/
}
.shop_content>.item>.item_right{
    width: 40%;
}
.shop_content>.item>.item_right .item_title{
    font-weight: bold;
    border-bottom: 1px solid #999209;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.shop_content>.item>.item_right .item_set1{
    display: flex;
    margin-bottom: 10px;
}
.shop_content>.item>.item_right>.item_set1>.item_set1_left{
    margin-right: auto;
}

.shop_content>.item>.item_right .item_set2{
    display: flex;
}
.shop_content>.item>.item_right>.item_set2>.item_set2_left{
    margin-right: auto;
}
.buy_btn{
    text-decoration: none;
    background-color: #999209;
    color: white;
    padding: 4px;
    border-radius: 10px;
}