@import '_variables'; //引入全域變數
@import "../node_modules/bootstrap/scss/bootstrap";

ul,ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
//這是header 
header{
  // background-color: aqua;
  height: 100vh; //隨著視窗高度100%滿版顯示
  background-image: url(../img/bg/bg-32.png);
  background-size: cover; //背景圖覆蓋滿版
  background-repeat: no-repeat;
  background-position: center;
  nav{
    padding: 0 35px;
    display: flex;
    align-items: center; //父層控制子層垂直置中
    gap: 15px; //此區間距
    ul.nav_left{
      display: flex;
      margin-top: 19px;
      gap: 2px; //此區間距
      .nav_menu{
        display: none;
        position: absolute ;
        width: 150px;
        ol{
          margin-top: 15px;
        }
        a{ //下拉選單樣式，與ol同為nav_menu後代，SASS可寫同一層
          display: block;
          background-color: #f8f8f8;
          color: black;
        }
        a:hover{
          background-color: #fff;
        }
      }
      >li{
        a{
          color: #fff;
          font-size: 15px;
          display: block;
          padding: 4px 10px;
        }
        &:hover{
          background-color: #d711118c;
          border-radius: 10px;
          .nav_menu{
            display: block;
          }
        }   
      }
    }
    ul.nav_right{
      display: flex;
      margin-top: 19px;   
      margin-left: auto; 
    }
    .nav_search{
      margin-top: 19px; 
    }
  }
}
