@import '_variables'; //引入全域變數
@import "../node_modules/bootstrap/scss/bootstrap";

ul,ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
//這是header 
header{
  // background-color: aqua;
  height: 100vh; //隨著視窗高度100%滿版顯示
  background-image: url(../img/bg/bg-32.png);
  background-size: cover; //背景圖覆蓋滿版
  background-repeat: no-repeat;
  background-position: center;
  nav{
    padding: 0 35px;
    display: flex;
    align-items: center; //父層控制子層垂直置中
    gap: 15px; //此區間距
    padding-top: 10px;
    .logo{
      .mobile{display: none;}
      .pc{display: block;}      
    }

    ul.nav_left{
      display: flex;
      margin-top: 19px;
      gap: 2px; //此區間距
      .nav_menu{
        display: none;
        position: absolute ;
        width: 150px;
        ol{
          margin-top: 15px;
        }
        a{ //下拉選單樣式，與ol同為nav_menu後代，SASS可寫同一層
          display: block;
          background-color: #f8f8f8;
          color: black;
        }
        a:hover{
          background-color: #fff;
        }
      }
      >li{
        a{
          color: #fff;
          font-size: 15px;
          display: block;
          padding: 4px 10px;
        }
        &:hover{
          background-color: #d01a48bc;
          border-radius: 10px;
          .nav_menu{
            display: block;
          }
        }   
      }
      &.collapse:not(.show){   //Bootstrap收合選單預設樣式覆蓋
        display: flex!important;
      }
    }
    ul.nav_right{
      display: flex;
      margin-top: 19px;   
      margin-left: auto;
      gap: 10px; //此區間距
    }
    .nav_search{
      margin-top: 19px;
      width: 25px;
      height: 25px;
      text-indent: -9999px; //隱藏文字
      background-image: url(../img/search.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .bottom_area{
    position: absolute;  
    color: #fff;
    height: 240px;
    width: 100%;
    max-width: 800px;
    bottom: 0;
    left: 0;
    padding-left: 33px;
    background-image: url(../img/bottom_area.svg);
    background-size: cover; //背景圖覆蓋滿版
    background-repeat: no-repeat;
    background-position: center;

    h1{
      position: absolute; //根據父層定位
      top: -30%;
      font-size: 39px;
      letter-spacing: 2px;
      font-weight: lighter;
    }
    p{
      position: absolute;
      width: 40%;
      top: 20%;
      line-height: 27px;
    }
    a{
      display: block;
      border: 1px solid #fff;
      border-radius: 5px;
      width: 108px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      position: absolute;
      bottom: 24px;
      &:hover{
        background-color: #fff;
        color: #d01a48;
      }
    }
  }
  .go_down{
    position: absolute;
    bottom: 18px;
    left: 50%;
    margin-left: -65px; //寬度一半負值置中
    width: 136px;
    height: 47px;
    text-indent: -9999px; //隱藏文字
    background-image: url(../img/go_down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // animation: goDownAni 1.5s infinite;
  }
}
.nav_mobile{
  position: relative;
  cursor: pointer;
  top: 10px;
  display: none;
  .menu{
    width: 32px;
    display:inline-block;
    vertical-align: bottom;
    .line{
      width: 100%;
      height: 3px;
      background-color: #fff;
      margin-bottom: 5px;
      border-radius: 3px;
    }
  }
}

.public_icon{
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  display:inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &.icon_fb{
    background-image: url(https://khsmusicweb.blob.core.windows.net/public/uploads/indexManage/1641959728.png);
  }
  &.icon_yt{
    background-image: url(https://khsmusicweb.blob.core.windows.net/public/uploads/indexManage/1641959429.png);
  }
  &.icon_line{
    background-image: url(https://khsmusicweb.blob.core.windows.net/public/uploads/indexManage/1641959874.png);
  }
}

@media(max-width: 991px){
  header{
    nav{
      padding: 0 30px;
      .logo{
        .mobile{display: block;}
        .pc{display: none;}      
      }
      ul.nav_left{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 0; //選單間距歸0
        li{
          background-color: #fff;
          width: 100%;
          text-align: left;
          height: 58px;
          line-height: 58px;
          border-bottom: 1px solid #ddd;
          a{
            color: #000;
          }
          &:hover{
            background-color: #f2f2f2;
            border-radius: 0;
            .nav_menu{
              display: none;
            } 
          }   
        }
        &.collapse:not(.show){   //Bootstrap收合選單預設樣式覆蓋
        display: none!important;
        }
      }
    }    
  }
  .nav_mobile{
    display: block;
  }
}